<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
<link href="{% static 'css/chwl.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/nhome.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
<script src="{% static 'js/chwl.js' %}" type="text/javascript"></script>
<script src="{% static 'js/nhome.js' %}" type="text/javascript"></script>
<title>还差一个哟</title>
</head>
<body>
	<!--头部开始-->
	<div id="header">
		<div id="head_content">
			<div id="logo">
				<a href="/index/">
					<img src="{% static "img/logo.png" %}"/>
				</a>
			</div>
			<div id="search">
				<form name="search" method="get">
					<div id="l_input">
						<input type="text" class="l"/>
					</div>
					<div id="r_input">
						<input type="submit" value=" " class="ll"/>
					</div>
				</form>
			</div>
			{% if user %}
			<div id="loggin">
				<ul id="l_list">
					<form name="loggin" method="post" action="/logout/">
						<li><P style="color: #4CAFF1;font-size: 15px;margin: 5px;font-weight: bolder;"><span style="color: #A4ABAF;">当前用户：</span>{{ user.username }}</p></li>
						<li><input type="submit" class="box" value="注销"/></li>
						<input type="hidden" name="callback" value="/share/list/{{ stype }}/"/>
					</form>
				</ul>
			</div>
			{% else %}
			<div id="loggin">
				<ul id="l_list">
					<form name="loggin" method="post" action="/login/">
						<li><input type="text"  name="username" placeholder="输入账号"  class="inp"/></li>
						<li><input type="password" name="password" placeholder="密码"   class="inp"/></li>
						<li><input type="submit" class="box" value="登录"/></li>
						<input type="hidden" name="callback" value="/share/list/{{ stype }}/"/>
						<li><a href="/register/" class="box" id="zc"><div>注册</div></a></li>
					</form>
			</div>
			{% endif %}
		</div>
		<div id="navigation">
			<div id="nav_con">
				<div id="m_nav">
					<ul id="n_list">
						<li class="over"><a href="/index/" class="list_a">首页</a></li>
						<li class="over"><a href="/share/list/dinner/" class="list_a">饭分享</a></li>
						<li class="over"><a href="/share/list/play/" class="list_a">玩分享</a></li>
						<li class="over"><a href="/share/list/movie/" class="list_a">电影分享</a></li>
						<li class="over"><a href="/share/edit/" class="list_a">马上分享</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--头部结束-->
	<!--主体开始-->
	<div class="main">
		<!-- hide begin-->
		<div id="c_left">
			<div id="fast_nav" class="fast_nn">
				<div id="fast_h">
					<h4>快速导航</h4>
				</div>
				<div id="fast_b" class="fast_bb">
					<div class="fast_item">
						<i class="f_icon one"></i>
						<a href="/date/list/dinner/"><h4>看看约饭</h4></a>
					</div>
					<div class="fast_item">
						<i class="f_icon two"></i>
						<a href="/date/list/play/"><h4>看看约玩</h4></a>
					</div>
					<div class="fast_item">
						<i class="f_icon three"></i>
						<a href="/date/list/movie/"><h4>看看约电影</h4></a>
					</div>
					<div class="fast_item">
						<i class="f_icon four"></i>
						<a href="/date/edit/"><h4>马上约</h4></a>
					</div>
				</div>
			</div>
		</div>
		<!-- hide over-->
		<div id="intime">
			<div class="inhd">
				<h4>
					<i></i>最近各种约
				</h4>
			</div>
			<div class="inbd">
				<ul id="inbody">
						{% if date_dinner %}
						<li>
							<a href="{{ date_dinner.jumpurl }}">{{ date_dinner.username }} 的约饭有了新动态</a>
							<p>{{ date_dinner.title }}</p>
						</li>
						{% endif %}
                                                {% if date_play %}
						<li>
							<a href="{{ date_play.jumpurl }}">{{ date_play.username }} 的约玩有了新动态</a>
							<p>{{ date_play.title }}</p>
						</li>
						{% endif %}
						{% if date_movie %}
						<li>
							<a href="{{ date_movie.jumpurl }}">{{ date_movie.username }} 的约电影有了新动态</a>
							<p>{{ date_movie.title }}</p>
						</li>
						{% endif %}
					</ul>
				<div id="hot">
					<div class="inhd">
						<h4>
							<i id="hoti"></i>热门经验分享
						</h4>
					</div>
					<div class="hotbd">
						<div id="one">
							<span id="hone">01</span>
							<a href="#" id="oneimg">
								<img src="{% static "img/h1.jpg" %}"/>
							</a>
							<div class="tit"><a href="#">漂亮妹子吃户部巷~</a></div>
						</div>
						<div class="other">
							<span class="hno">02</span>
							<a href="#">
								<img src="{% static "img/h2.jpg" %}" />
							</a>
							<div><a href="#">红红的</a></div>
						</div>
						<div class="othero">
							<span class="hno">03</span>
							<a href="#">
								<img src="{% static "img/h3.jpg" %}" />
							</a>
							<div><a href="#">哈不造~</a></div>
						</div>
						<div class="other">
							<span class="hnt">04</span>
							<a href="#">
								<img src="{% static "img/h4.jpg" %}" />
							</a>
							<div><a href="#">郊外~</a></div>
						</div>
						<div class="othero">
							<span class="hnt">05</span>
							<a href="#">
								<img src="{% static "img/h5.jpg" %}" />
							</a>
							<div><a href="#">街边</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="l_slider">
			<ul>
				<li class="l_lin" id="a1">
					<a href="">
						<img src="{% static "img/a1.jpeg" %}" style="width: 700px; height: 340px;"/>
					</a>
				</li>
				<li class="l_li" id="a2">
					<a href="">
						<img src="{% static "img/a2.jpeg" %}" style="width: 700px; height: 340px;"/>
					</a>
				</li>
				<li class="l_li" id="a3">
					<a href="">
						<img src="{% static "img/a3.jpeg" %}" style="width: 700px; height: 340px;"/>
					</a>
				</li>
				<li class="l_li" id="a4">
					<a href="">
						<img src="{% static "img/a4.jpeg" %}" style="width: 700px; height: 340px;"/>
					</a>
				</li>
			</ul>
		</div>
		<div class="sh_body">
			<div class="sh_tit">
				<h3>经验分享  [{{ stype }}]</h3>
				<div class="new_post">
					<a href="/share/edit/">新的分享</a>
				</div>
			</div>
			<div class="sh_contt">
				<div class="post_list">
					{% for list in sharelist reversed %}
					<ul class="list_cont">
						<li>
							<div class="l_im">
								<a href="{{ list.jumpurl }}">
									<img src="{{ list.image }}" width="215" height="135" />
								</a>
							</div>
							<h3 class="l_l">
								<a href="{{ list.jumpurl }}">{{ list.title }}</a>
							</h3>
							<div class="l_auth">
								<span>
									作者：{{ list.author }}
								</span>
							</div>
							<div class="li_content">
								{{ list.content }}
							</div>
						</li>
					</ul>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!--footer开始-->
	
	<!--footer结束-->
</body>
</html>
